/* Answer card */
.card-answer {
    background-color: black;

    box-shadow: 0em 0em 1em black;
}

.card-answer .card-text {
    background-color: ivory;
    color: black;
}

.card-answer:hover {
    box-shadow: 0 0 4em white;
}