<div class="jumbotron">
    <h1>
        Cards
    </h1>
    <p>A card game</p>
    
    <hr>
    
    <div>
        <label> Username: </label>
        <input [(ngModel)]="username" placeholder="username">
    </div>
    
    <div>
        <label>Language: </label>
        <div *ngIf="languages" >
            <select>
                <option *ngFor="let lang of languages">{{lang.text}}</option>
            </select>
        </div>
    </div>
    
    <button type="submit">Submit</button>
        
</div>
