/* Board */
.board-back {
    background: url("/assets/board-noise.png");

    z-index: 99;
}

.board {
    height: 40em;
    border: 20px solid rgb(80, 30, 50);
    background-color: rgba(20, 110, 20, 0.9);

    box-shadow: inset 0 0 4em black;

    padding: 1em;

    z-index: 98;
}

.card {
    z-index: 90;
}

/* Answers */
.answers {
    float: left;
    position: relative;
    left: 0;
    bottom: -10em;
}

.answers > .answer:not(:first-child) {
    /* The cards collapse on each other */
    margin-left: -4em;
}

.answer {
    float: left;
}

.answer:hover {
    /* Bring to front when hovered */
    position: relative;
    z-index: 89;

}