/* Question card */
.card-question {
    background: ivory;

    box-shadow: 0em 0em 1em black;
}

.card-question .card-text {
    background-color: black;
    color: ivory;
}

.card-text .card-pick {
    /*padding: 0.5em;*/
    /*padding-bottom: 0.5em;*/

    min-width: 2.5em;
    height: 2.5em;

    color: ivory;
    position: absolute;
    bottom: 0;
    right: 0;

    border-top-left-radius: 20px;
    border-left: 1px solid ivory;
    border-top: 1px solid ivory;
}
